@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}
.lightblue {background-color: #90CCF4;
border-color: #90CCF4}
.lightblue:hover, .lightblue:active {
  background-color: #5DA2D5;
  border-color: #5DA2D5;
}