html,
body {
	height: 100%;
width: 100%;
margin:0;
padding:0;
background:
/* top, transparent black, faked with gradient */ 
linear-gradient(
  rgba(0, 0, 0, 0.3), 
  rgba(0, 0, 0, 0.6)
), url("../src/bg.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
}
@media only screen and (orientation:landscape){
    #turn{ display:block; }
    #vue-app{ display:none; }
  }
  @media only screen and (orientation:portrait){
    #turn{ display:none; }
    #vue-app{ display:initial; }
  }
.video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.ar-container { margin: 0 auto; position: relative; }

.container-fluid
{ padding: 0px;
    height: 90%;
    display: flex;
	flex-direction: column;
  

 }
.container
{ margin: auto;
    padding: 15px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

/*
.strechheight{
    margin: auto;
    min-height: 90%;
  width: 100%;
	display: flex;
	flex-direction: column;
    
 
}
*/
    
.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }
  
  .fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }
  
	.box {
		text-align: center;
		color: white;
		padding: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.box-1 {
        
		flex: 1;
	}
	
	.box-2 {

		flex: 1;
	}
	
	.box-3 {
	
		flex: 1;
	}
	.box-4 {

	}
    .box-5 {
	

    }
    .box-recommendation
    {
	
        flex: 1;
    
        color: #000000;
    }
    
    .colorsnav
    {
        height: 8px;
    
    }     


    .indexnavi{

    background-color: #f8f9fa;
   opacity: 0.3; 
   filter: alpha(opacity=30);
}

a.indexnavi:link {
    
   color:#FFFFFF !important;
} 
    
    /* brand color to be changed */
    .text-custom-submit {
        color: #90CCF4;
    }     
  .custom-standard {
    background-color: #90CCF4;
    border-color: #90CCF4;
    color: white;
}
.custom-standard:hover {
    background-color: #5DA2D5;
    border-color: #5DA2D5;
    color: white;
}
.custom-standard:active {
    background-color: #5DA2D5;
    border-color:#5DA2D5;
    color: white;
}
.custom-standard:focus {
    background-color: #5DA2D5;
    border-color:#5DA2D5;
    color: white;
}

.custom-standard:after {
    background-color: lightcyan;
    border-color:lightcyan;
    color: white;
}
    
.custom-action {
background-color: #F78888;
border-color: #F78888;
color: white;
}
.custom-action:hover {
background-color: #FF5858;
border-color: #FF5858;
color: white;
}
.custom-action:active {
background-color: #FF5858;
border-color:#FF5858;
color: white;
}
.custom-action:focus {
background-color: #FF5858;
border-color:#FF5858;
color: white;
}

.custom-action:after {
background-color: FF5858;
border-color:FF5858;
color: white;
}
/* Custom button height */
.btn {padding: .75rem .75rem;
}
.greenborder {
    border: green solid 3px;}
    .yellowborder {
        border: yellow solid 3px;}
    
   /* Logo style */

        .logoframe {
            border: white solid 1px;
         padding: 10px;
         margin-bottom: 10px;
         text-transform: uppercase; 
         color: white;
         text-align: center;
        }

            /* Toggle switch */


            .switch input { 
                display:none;
            }
            .switch {
                display:flex;
                width:50px;
                height:50%;
                margin:0;
                transform:translateY(50%);
            
            }
            
            .slider {
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                border-radius:15px;
                box-shadow:0 0 0 2px rgba(0,0,0,.5), 0 0 3px rgba(0,0,0,.5);
                cursor:pointer;
                border:4px solid transparent;
                overflow:hidden;
                 transition:.4s;
            }
            .slider:before {
                position:absolute;
                content:"";
                width:100%;
                height:100%;
                background:rgba(0,0,0,.5);
                border-radius:20px;
                transform:translateX(-30px);
                transition:.4s;
            }
            
            input:checked + .slider:before {
                transform:translateX(30px);
                background:limeGreen;
            }
            input:checked + .slider {
                box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
            }
            
         /* Colorpicker */
        
    
         .colorpicker-2x .colorpicker-saturation {
            width: 200px;
            height: 200px;
        }
    
        .colorpicker-2x .colorpicker-hue {

            
            width: 30px;
            height: 200px;
        }

        .colorpicker-2x .colorpicker-alpha {
           display: none !important;
        }
    
        .colorpicker-2x .colorpicker-color,
        .colorpicker-2x .colorpicker-color div {
           height: 30px;
        }


/*card custom layout*/
.col-sm-6 {
    padding: 10px 3px 0px 3px;
}
.row {
    margin-right: 5px;
    margin-left: 5px;
}
@media all and (max-width: 1199px) {
    .col-sm-6 {max-width: 25%;} 
 
 }           
@media all and (max-width: 991px) {
    .col-sm-6 {max-width: 33.3%;}
 
 }           
@media all and (max-width: 768px) {
    .col-sm-6 {max-width: 50%;}
 
 }           
@media all and (max-width: 575px) {
    .col-sm-6 {max-width: 100%;}

 }   
 
 .card-columns{
     column-gap: 0.5rem;
     margin: 10px;
 }
 .card{
     border: none;
 }
            
    /*
.container-fluid {
    height: 100vh;
flex-direction: column;    
    
   
}


.introscreen {
display: flex;
flex-direction: column;
}

.fill-height-or-more > div {
    
    flex: 1;
  }
  c

.logoframe {
    border: white solid 1px;
 padding: 10px;
 margin-bottom: 10px;
 text-transform: uppercase; 
 color: white;
 text-align: center;
}

.artbackground {

    color: white;
    background-image: url("../src/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 100%;
  }
  
  .custom-standard {
    background-color: #91ccf4;
    border-color: #91ccf4;
    color: white;
}
.custom-standard:hover {
    background-color: #7ec8fa;
    border-color: #7ec8fa;
    color: white;
}
.custom-standard:active {
    background-color: lightcyan;
    border-color:lightcyan;
    color: white;
}


.custom-standard:after {
    background-color: lightcyan;
    border-color:lightcyan;
    color: white;
}

.greenborder {
    border: green solid 3px;}
    .yellowborder {
        border: yellow solid 3px;}
    